<a href={{link}}>Clique aqui para redefinir sua senha!</a>
<a href={{link}}
  style="text-decoration:none;line-height:100%;background:#7289da;color:white;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:15px;font-weight:normal;text-transform:none;margin:0px"
  target="_blank" data-saferedirecturl={{link}}>
  Redefinir senha
</a>
